*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

main{
    margin: 0 auto;
    max-width: 4000px;
}

.p-information{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.image{
    margin: 0;
    background-color: rgb(0, 128, 119);
}
.image img{
    width: 100%;
    object-fit: cover;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color:aquamarine;
}

.name{
    color: white;
    font-size: 4rem;
    font-weight: 900;
    margin-left: 50px;
    margin-right: 20px;
}
.red{
    margin: 0;
    margin-top: 20px;
    margin-left: 120px;

}
.red img{
    width: 25%;
    object-fit: cover;
}
.information-1{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 20px;
}

.contact{
    background-color: rgba(127, 255, 212, 0.283);
    display: grid;
    grid-template-columns: 1fr 3fr;
  
}
.contact-1{
   
    font-size: 2rem;
    font-weight: 900;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 50px;
}
.info{
    margin-top: 55px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.datos{
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 20px;

}
.info-w{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.datos-w{
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 80px;
    margin-right: 20px;
    margin-bottom: 20px;

}

.work{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}